{% extends 'flatpages/default.html' %}

{% block title %}
Exit
{% endblock title %}

{% block content %}
    <h2>Вы вышли из сайта!!!</h2>
    <div class="logout_div1">
        <h3>Вернуться на сайт как незарегистрированный пользователь</h3>
        <h3><a href="{% url 'list' %}">Перейти на сайт</a></h3>
        <h3>...</h3>
        <div>
            <h3>Войти на сайт под своим именем</h3>
            <h3><a href="{% url 'login' %}">Войти на сайт</a></h3>
        </div>
    </div>


{% endblock content %}